In [1]:
%env MYSQLINSTANCE=mysql

env: MYSQLINSTANCE=mysql

In [2]:
!mysql college < /home/jupyter/mysql_college_staging.sql

In [4]:
!gcloud sql import csv $MYSQLINSTANCE gs://cs327e-open-access/college_staging/Classes.csv --database=college --table=Classes --quiet

Importing data into Cloud SQL instance...done.
Imported data from [gs://cs327e-open-access/college_staging/Classes.csv] into [https://sqladmin.googleapis.com/sql/v1beta4/projects/cs327e-sp2020/instances/mysql].

In [5]:
!gcloud sql import csv $MYSQLINSTANCE gs://cs327e-open-access/college_staging/Current_Students.csv --database=college --table=Current_Students --quiet

Importing data into Cloud SQL instance...done.
Imported data from [gs://cs327e-open-access/college_staging/Current_Students.csv] into [https://sqladmin.googleapis.com/sql/v1beta4/projects/cs327e-sp2020/instances/mysql].

In [6]:
!gcloud sql import csv $MYSQLINSTANCE gs://cs327e-open-access/college_staging/New_Students.csv --database=college --table=New_Students --quiet

Importing data into Cloud SQL instance...done.
Imported data from [gs://cs327e-open-access/college_staging/New_Students.csv] into [https://sqladmin.googleapis.com/sql/v1beta4/projects/cs327e-sp2020/instances/mysql].

In [7]:
!mysql college -e "select count(*) from Classes"

+----------+
| count(*) |
+----------+
|       12 |
+----------+

In [8]:
!mysql college -e "select count(*) from Current_Students"

+----------+
| count(*) |
+----------+
|       13 |
+----------+

In [9]:
!mysql college -e "select count(*) from New_Students"

+----------+
| count(*) |
+----------+
|        7 |
+----------+

In [10]:
!mysql college -e "select * from Classes limit 7"

+---------+---------------+------------------+--------+----------------------------------+---------+
| tid     | instructor    | dept             | cno    | cname                            | credits |
+---------+---------------+------------------+--------+----------------------------------+---------+
| fares   | Fares Fraij   | CS               | CS331E | Elements of Software Engineering |       3 |
| mitra   | Shyamal Mitra | CS               | CS313E | Elements of Software Design      |       3 |
| mitra   | Shyamal Mitra | Computer Science | CS329E | Elements of Web Programming      |       3 |
| cannata | Phil Cannata  | CS               | CS326E | Elements of Networking           |       3 |
| scohen  | Shirley Cohen | Computer Science | CS327E | Elements of Databases            |       3 |
| bulko   | Bill Bulko    | Computer Science | CS313E | Elements of Software Design      |       3 |
| cannata | Phil Cannata  | CS               | CS347  | Data Management                  |       3 |
+---------+---------------+------------------+--------+----------------------------------+---------+

In [11]:
!mysql college -e "select * from Current_Students limit 7"

+--------+-------+----------+------------+--------+-----------------------------+---------+-------+
| sid    | fname | lname    | dob        | cno    | cname                       | credits | grade |
+--------+-------+----------+------------+--------+-----------------------------+---------+-------+
| kev18  | Kevin | Lin      | 1999-05-10 | CS329E | Elements of Web Programming |       3 |       |
| paulg  | Paul  | Gore     | 2000-09-17 | CS329E | Elements of Web Programming |       3 | A     |
| paulg  | Paul  | Gore     | 2000-09-17 | CS326E | Elements of Networking      |       3 | A-    |
| paulg  | Paul  | Gore     | 2000-09-17 | CS313E | Elements of Software Design |       3 |       |
| bzen26 | Biswa | Zen      | 04/22/1998 | CS313E | Elements of Software Design |       3 | B+    |
| jerryh | Jerry | Hargrove | 01/03/1999 | CS327E | Elements of Databases       |       3 | B     |
| jerryh | Jerry | Hargrove | 01/03/1999 | CS327E | Elements of Databases       |       0 |       |
+--------+-------+----------+------------+--------+-----------------------------+---------+-------+

In [12]:
!mysql college -e "select * from New_Students limit 7"

+----------+---------+----------+------------+
| sid      | fname   | lname    | dob        |
+----------+---------+----------+------------+
| aprilz   | April   | Lopez    | 2000-01-10 |
| sudeepa4 | Sudeepa | Roy      | 2000-10-01 |
| ryan22   | Ryan    | Watson   | 2000-11-07 |
| dchen    | David   | Chen     | 2000-08-22 |
| natea    | Nathan  | Anderson | 2000-04-08 |
| nitinm   | Nitin   | Mogal    | 1999-07-31 |
| kgomez9  | Katie   | Gomez    | 2001-03-03 |
+----------+---------+----------+------------+

In [13]:
!mysql college -e "update Current_Students set dob = '1998-04-22' where dob = '04/22/1998'"

In [14]:
!mysql college -e "select * from Current_Students where sid = 'bzen26'"

+--------+-------+-------+------------+--------+-----------------------------+---------+-------+
| sid    | fname | lname | dob        | cno    | cname                       | credits | grade |
+--------+-------+-------+------------+--------+-----------------------------+---------+-------+
| bzen26 | Biswa | Zen   | 1998-04-22 | CS313E | Elements of Software Design |       3 | B+    |
+--------+-------+-------+------------+--------+-----------------------------+---------+-------+

In [15]:
!mysql college -e "delete from New_Students where sid = 'aprilz'"

In [16]:
!mysql college -e "select * from New_Students"

+----------+---------+----------+------------+
| sid      | fname   | lname    | dob        |
+----------+---------+----------+------------+
| sudeepa4 | Sudeepa | Roy      | 2000-10-01 |
| ryan22   | Ryan    | Watson   | 2000-11-07 |
| dchen    | David   | Chen     | 2000-08-22 |
| natea    | Nathan  | Anderson | 2000-04-08 |
| nitinm   | Nitin   | Mogal    | 1999-07-31 |
| kgomez9  | Katie   | Gomez    | 2001-03-03 |
+----------+---------+----------+------------+

In [17]:
!mysql college -e "insert into New_Students (sid, fname, lname, dob) values ('aprilz', 'April', 'Lopez', '2000-01-10')"

In [18]:
!mysql college -e "select * from New_Students"

+----------+---------+----------+------------+
| sid      | fname   | lname    | dob        |
+----------+---------+----------+------------+
| sudeepa4 | Sudeepa | Roy      | 2000-10-01 |
| ryan22   | Ryan    | Watson   | 2000-11-07 |
| dchen    | David   | Chen     | 2000-08-22 |
| natea    | Nathan  | Anderson | 2000-04-08 |
| nitinm   | Nitin   | Mogal    | 1999-07-31 |
| kgomez9  | Katie   | Gomez    | 2001-03-03 |
| aprilz   | April   | Lopez    | 2000-01-10 |
+----------+---------+----------+------------+